:root {
    --green: #1db954;
}

/* ===== RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: black;
    color: white;
}

/* ===== LAYOUT ===== */
.container2 {
    margin-top: 15px;

    background-color: #1d2025;
}

.left {
    position: fixed;
    top: 0;
    left: -300px;        /* hidden by default */
    width: 25vw;
    height: 100vh;
    padding: 10px;
    overflow-y: auto;
    background: black;
    transition: left 0.3s ease;
    z-index: 1000;
}

@media (min-width: 901px) {
    .left {
        left: 0;
        position: relative;
        height: auto;
    }
}

.right {
    width: 75vw;
    height: 100vh;
    margin: 16px;
    position: relative;
}

/* ===== LEFT SIDE ===== */
.logo img {
    width: 300px;
}

.home {
    background-color: #1e293b;

}

.home ul {
    list-style: none;
}

li a {
    text-decoration: none;
    color: white;
}

.home ul li {
    display: flex;
    gap: 10px;
    padding: 12px;
    cursor: pointer;
    font-weight: bold;
}

.search-box {
    margin-top: 10px;
    text-align: center;
}

.search-box input {
    padding: 8px;
    width: 90%;
}

.h {
    margin-top: 6px;
    padding: 8px 14px;
    background: var(--green);
    border: none;
    color: white;
    cursor: pointer;
}

.search-box-close {
    margin-left: 10%;
    background: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
    border: none;

}


/* ===== LIBRARY ===== */
.library {
    margin-top: 12px;

}

.heading {
    display: flex;
    gap: 15px;
    max-width: 30vh;
    margin: auto;
    color: #1db954;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.intro p {
    text-align: center;
    /* font-weight: 100; */
    line-height: 1.7;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
    /* Dark color for the thumb */
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: #222;
    /* Dark color for the track */
}

.songList ul {
    padding: 0 12px;
}

.songList ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    padding: 13px;
    border: 1px solid rgba(146, 143, 143, 0.491);
    margin: 12px 0;

    border-radius: 5px;
}

.songList .info {
    font-size: 13px;
    width: 344px;
}

.info div {
    word-break: break-all;
}

.li_btn {
    background: none;
    color: white;
    font-size: 16px;
    border: none;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span {
    font-size: 15px;
    width: 64px;
    padding: 12px;
}

/* ===== HEADER ===== */
.header {
    display: flex;
    justify-content: space-between;
    border-radius: 14px;
    /* background-color: rgb(34 34 34); */
    background-color: #2c3138;
}

.header>* {
    padding: 20px;
}

.buttons button {
    margin-left: 10px;
}



.signupbtn {
    background: none;
    color: gray;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.loginbtn {
    background: white;
    color: black;
    border-radius: 20px;
    padding: 10px 18px;
    font-size: 16px;
    border: none;
}

.buttons :first-child:hover {
    color: white;

}



/* ===== RESPONSIVE ===== */
.hamburger {
    display: none;
}

.hamburger-close {
    display: none;
    cursor: pointer;
    font-size: 30px;
}

.hamburgerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

@media (max-width: 1200px) {
    .left {
        position: fixed;
        left: -100%;
        width: 100vw;
        height: 100vh;
        background: black;
        z-index: 10;
        transition: all .3s;
    }

    .right {
        width: 100vw;
    }

    .hamburger {
        display: block;
    }

    .hamburger-close {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .playbar {
        width: 90vw;
        left: 5%;
    }

    .card {
        width: 80%;
    }
}


.border {
    border: 2px solid red;
    margin: 3px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.bg-black {
    background-color: black;
    color: white;
}

.invert {
    filter: invert(1);
}

.bg-grey {
    background-color: #121212;
}

.rounded {
    border-radius: 7px;
}

.m-1 {
    margin: 5px;
}

.p-1 {
    padding: 10px;
}
  footer {
            text-align: center;
            padding: 15px;
            margin-top: 40px;
            color: #34588b;
        }

        footer a {
            color: red;
        }