/* ===== ROOT ===== */
:root {
    --green: #1db954;
}

/* ===== RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: black;
    color: white;
}

/* ===== LAYOUT ===== */
.container {
    margin-top: 15px;
    display: flex;
}

.left {
    width: 25vw;
    padding: 10px;
    position: relative;
    height: 100vh;
    overflow: scroll;
}

.right {
    width: 75vw;
    height: 100vh;
    margin: 16px;
    position: relative;
    overflow: scroll;


}

/* ===== LEFT SIDE ===== */
.logo img {
    width: 300px;
}

.home ul {
    list-style: none;
}

li a {
    text-decoration: none;
    color: white;
}

.home ul li {
    display: flex;
    gap: 10px;
    padding: 12px;
    cursor: pointer;
    font-weight: bold;
}

.search-box {
    margin-top: 10px;
    text-align: center;
}

.search-box input {
    padding: 8px;
    width: 90%;
}

.h {
    margin-top: 6px;
    padding: 8px 14px;
    background: var(--green);
    border: none;
    color: white;
    cursor: pointer;
}

.search-box-close {
    margin-left: 10%;
    background: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
    border: none;

}


/* ===== LIBRARY ===== */
.library {
    margin-top: 12px;
    
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.heading img {
    width: 30px;
}

/* .library h2 {
    color: #1db954;
    text-align: center;
    margin-bottom: 15px;
} */

.library ul {
    list-style: none;
    padding: 0;
}

.library ul li {
    padding: 8px 12px;
    margin: 8px 0;
    background-color: #1f2937;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.library ul li:hover {
    background-color: #1db954;
    color: #0f172a;
}


.songList {
    overflow: scroll;
    height: 40vh;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
    /* Dark color for the thumb */
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: #222;
    /* Dark color for the track */
}

.songList ul {
    padding: 0 12px;
}

.songList ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    padding: 13px;
    border: 1px solid rgba(146, 143, 143, 0.491);
    margin: 12px 0;

    border-radius: 5px;
}

.songList .info {
    font-size: 13px;
    width: 344px;
}

.info div {
    word-break: break-all;
}

.li_btn {
    background: none;
    color: white;
    font-size: 16px;
    border: none;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span {
    font-size: 15px;
    width: 64px;
    padding: 12px;
}

/* ===== HEADER ===== */
.header {
    display: flex;
    justify-content: space-between;
    background-color: #2c3138;

    border-radius: 14px;
}


.header>* {
    padding: 20px;
}

.buttons button {
    margin-left: 10px;
}



.signupbtn {
    background: none;
    color: gray;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.loginbtn {
    background: white;
    color: black;
    border-radius: 20px;
    padding: 10px 18px;
    font-size: 16px;
    border: none;
}

.buttons :first-child:hover {
    color: white;
}

.spotifyPlaylists {
    padding: 16px;
}

.spotifyPlaylists h1 {
    padding: 16px;
}

/* ===== SONGS GRID ===== */
.songs {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    height: 60vh;
    border-radius: 23px;
    overflow-y: auto;
    background-color: #1d2025;

}

.card {
    background-color: #12161d;

    width: 320px;
    padding: 12px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease;
}

#hover_logo {
    position: absolute;
    bottom: 10%;
    left: 40%;
    width: 250px;


    opacity: 0;
    transition: opacity 0.5s ease, bottom 0.5s ease;

}


.card:hover #hover_logo {

    opacity: 1;
    bottom: 26%;

}

.card:hover {
    transform: scale(1.04);
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.card h3 {
    font-size: 15px;
    margin-top: 8px;
}

.card p {
    font-size: 13px;
    color: #aaa;
}

.card button {
    margin-top: 8px;
    width: 100%;
    background: var(--green);
    border: none;
    padding: 8px;
    color: white;
    cursor: pointer;
}

/* ===== PLAYBAR ===== */
.playbar {
    position: fixed;
    bottom: 20px;
    width: 65vw;
    left: 30%;
}

audio {
    width: 100%;
}

/* ===== RESPONSIVE ===== */
.hamburger {
    display: none;
}

.hamburger-close {
    display: none;
    cursor: pointer;
    font-size: 30px;
}

.hamburgerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

@media (max-width: 1200px) {
    .left {
        position: fixed;
        left: -100%;
        width: 100vw;
        height: 100vh;
        background: black;
        z-index: 10;
        transition: all .3s;
    }

    .right {
        width: 100vw;
    }

    .hamburger {
        display: block;
    }

    .hamburger-close {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .playbar {
        width: 90vw;
        left: 5%;
    }

    .card {
        width: 70%;
    }
}


.border {
    border: 2px solid red;
    margin: 3px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.bg-black {
    background-color: black;
    color: white;
}

.invert {
    filter: invert(1);
}

.bg-grey {
    background-color: #121212;
}

.rounded {
    border-radius: 7px;
}

.m-1 {
    margin: 5px;
}

.p-1 {
    padding: 10px;
}

/*  */
     footer {
            text-align: center;
            padding: 15px;
            margin-top: 40px;
            color: #34588b;
        }

        footer a {
            color: red;
        }