
body{
                background-color: #171e29;

}
#navbar {
    background-color: #2c3e5b;
}

#hover_logo {
    position: absolute;
    bottom: 10%;
    left: 80%;
    /* horizontally center */
    transform: translateX(-50%);
    /* exact center */
    width: 250px;
    opacity: 0;
    transition: opacity 0.5s ease, bottom 0.5s ease;
    pointer-events: none;
    /* prevent mouse issues */
}

.card:hover #hover_logo {
    opacity: 1;
    bottom: 26%;
    /* move up slightly */
}


.heading {
    display: flex;
    gap: 15px;
    max-width: 30vh;
    margin: auto;
    color: #1db954;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.heading img {
    width: 30px;
}

/* ===== LIBRARY ===== */

.library {
    background-color: #12161d;
    height: 60vh;
    margin-top: 12px;
    /* overflow: scroll; */

}

li button {
    cursor: pointer;
    background: none;
    border: none;
}
.bg{
    background-color: #12161d;
}



.heading {
    display: flex;
    gap: 15px;
    max-width: 60vh;
    margin: auto;
    text-align: center;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.heading img {
    width: 30px;
}

.heading h2 {
    color: rgb(217, 205, 205);
    max-width: max-content;

}

.li_btn {
    border: none;
    background: none;
}


::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background-color: #333;

}

::-webkit-scrollbar-track {
    background-color: #222;
}

.songList {
    height: 40vh;
    overflow: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    scroll-snap-type: none;

}

.songList ul {
    padding: 0 12px;
}

.songList ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    padding: 13px;
border: 2px solid white;
    margin: 12px 0;
color: white;
    border-radius: 5px;
}

.songList .info {
    font-size: 13px;
    width: 344px;
    color: white;
}

.info div {
    word-break: break-all;
}
.card {
    position: relative;
    /* add this */
    background-color: #12161d;
    width: 45vh;
    height: 450px;
    padding: 12px;
    border-radius: 10px;
    text-align: center;
    transition: all 1s ease-in-out;
}

.card:hover{
    transform: translateY(-5px);
    background-color: #4d4c4c;
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.card h3 {
    font-size: 17px;
    margin-top: 8px;
    color: white;
}

.card p {
    font-size: 15px;
    color: #aaa;
}

.play_btn {
    margin-top: 8px;
    width: 100%;
    background: rgba(0, 128, 0, 0.792);
    border: none;
    padding: 8px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.container2{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    justify-content: center;
    gap: 23px;
        overflow: scroll;
    scroll-snap-type: none;
    scrollbar-width: none;
}
@media (max-width: 600px) {
.container2{
row-gap: 90px;}
.card{
    height: 540px;
}
}

#audioPlayer {
    position: fixed;
    bottom: 10%;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* background: #000; */
}

.header{
            background-color: #25304273;
    max-width: 90%;
    height: 100px;
    margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    margin-top: 12px;
}
.header :nth-child(2){
color: white;
font-weight: 100;
font-size: 40px;
margin-right: 10px;
}
.nav-item a{
    font-size: 20px;
}